body, html {
  padding: 0px;
  margin: 0px;
}

.header {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: #212121;
  width: 100%;
  height: 120px;
  z-index: 3;
  transition: all 300ms;
}
.header .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header .nav .logo {
  height: 100px;
  justify-items: center;
  transition: all 300ms;
}
.header .nav .logo:hover {
  cursor: pointer;
}
.header .nav .navbar-toggle {
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 40px;
  margin-right: 30px;
  display: none;
}
.header .nav .nav-menu {
  display: flex;
  margin-bottom: 0px;
  margin-right: 30px;
  gap: 20px;
}
.header .nav .nav-menu .nav-menu-item {
  list-style: none;
  text-decoration: none;
  width: max-content;
}
.header .nav .nav-menu .navbar-link {
  color: #fff;
  font-size: 20px;
  height: 100%;
  list-style: none;
  text-decoration: none;
  transition: all 300ms;
}
.header .nav .nav-menu .navbar-link:hover {
  color: #CDBE78;
  cursor: pointer;
}
.header.active {
  background-color: #034344;
  height: 80px;
}
.header.active .nav .logo {
  height: 65px;
}
.header.active .nav-menu-item {
  list-style: none;
  text-decoration: none;
}

#relleno {
  background-color: #212121;
  width: 100%;
  height: 120px;
}

#carousel {
  position: relative;
}

.h3-carousel {
  text-shadow: 2px 2px 3px black;
}

.p-carousel {
  text-shadow: 2px 2px 3px black;
}

#article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-direction: column;
  height: 250px;
  background-color: #045455;
}
#article h2 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 3px black;
  font-size: 50px;
}
#article p {
  position: relative;
  color: white;
  text-shadow: 2px 2px 3px black;
  font-size: 20px;
  text-align: center;
}

#article-clientes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 300px;
  padding: 10px;
}
#article-clientes h2 {
  color: #212121;
  font-size: 40px;
  text-shadow: 1px 1px 3px grey;
}
#article-clientes img {
  width: 130px;
}
#article-clientes .container-client {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  padding-bottom: 10px;
}
#article-clientes .img-client {
  box-shadow: 1px 1px 3px grey;
}

#article-2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
}
#article-2 #v-carretera {
  position: absolute;
  z-index: -1;
  width: 100%;
}
#article-2 h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 3px black;
  font-size: 30px;
}
#article-2 p {
  color: white;
  text-shadow: 2px 2px 3px black;
  font-size: 20px;
  text-align: center;
}
#article-2 #button-transparent {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  font-weight: 400;
  margin-top: 5px;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  transition: all 300ms;
  padding: 10px;
}
#article-2 #button-transparent:hover {
  background-color: #fff;
  color: #34312f;
  cursor: pointer;
}

#footer {
  width: 100%;
  height: auto;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
#footer #footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}
#footer #footer-container ul {
  padding-left: 0px;
  margin-bottom: 0px;
}
#footer #footer-container li {
  list-style: none;
}
#footer #footer-container a {
  text-decoration: none;
  color: #fff;
  transition: all 300ms;
}
#footer #footer-container #info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  gap: 40px;
}
#footer #footer-container #info img {
  width: 200px;
}
#footer #footer-container #info p {
  font-size: 20px;
  color: #fff;
}
#footer #footer-container #redes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  gap: 40px;
}
#footer #footer-container #redes ul {
  display: flex;
  gap: 40px;
}
#footer #footer-container #redes ul li a {
  font-family: "WebSymbolsRegular";
  font-size: 30px;
  color: #fff;
}
#footer #footer-container #redes ul li a:hover {
  color: #CDBE78;
}
#footer #footer-container #redes p {
  font-size: 20px;
  color: #fff;
}
#footer #footer-container .developer {
  width: 100%;
  height: 40px;
  background-color: #045455;
}
#footer #footer-container .developer p {
  color: #fff;
  font-family: sans-serif;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
}

@media screen and (max-width: 800px) {
  #relleno {
    height: 100px;
  }

  .header {
    height: 100px;
  }
  .header .nav .logo {
    height: 80px;
  }
  .header .nav .navbar-toggle {
    display: block;
    transition: all 300ms;
  }
  .header .nav .navbar-toggle:hover {
    cursor: pointer;
    color: #CDBE78;
  }
  .header .nav .nav-menu {
    flex-direction: column;
    align-items: center;
    background-color: #212121;
    padding: 10px 0px;
    position: fixed;
    top: 100px;
    width: 100%;
    height: calc(100% - 100px);
    overflow-y: auto;
    left: 100%;
    transition: left 300ms;
  }
  .header .nav .nav-menu.visible {
    left: 0%;
  }
  .header.active .nav-menu {
    top: 80px;
    height: calc(100% - 80px);
    transition: 300ms;
  }
}
@media screen and (max-width: 320px) {
  #footer-container #info {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  #footer-container #info img {
    margin-top: 20px;
  }
  #footer-container #redes {
    flex-wrap: wrap;
    justify-content: center;
  }
}
* {
  padding: 0px;
  margin: 0px;
  font-family: "DM Serif Display", serif;
  letter-spacing: 1px;
}

hr {
  color: #96663D;
  width: 60%;
  height: 2px;
}

#article-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  background-image: url("./assets/imgs/edificio_atardecer.jpeg");
  background-position: center;
  background-size: cover;
}
#article-3 h2 {
  color: white;
  text-shadow: 2px 2px 3px black;
  font-size: 50px;
}

#formulario {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#formulario #form {
  height: 500px;
  width: 40%;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #045455;
  box-shadow: 1px 1px 4px black;
  padding: 10px;
  gap: 20px;
}
#formulario #form .labelForm {
  align-self: flex-start;
  color: #fff;
  font-size: 20px;
}
#formulario #form .inputForm {
  width: 90%;
  padding: 10px;
}
#formulario #form #textArea {
  width: 90%;
  height: 100px;
  padding: 5px;
}
#formulario #form button {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  transition: all 300ms;
  padding: 10px;
}
#formulario #form button:hover {
  background-color: #fff;
  color: #34312f;
}

@media screen and (max-width: 320px) {
  #article-3 {
    height: 150px;
    background-size: cover;
  }
  #article-3 h2 {
    font-size: 30px;
    text-align: center;
  }

  #formulario #form {
    width: 90%;
  }
}
#servicios_todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#servicios_todos .servicios {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#servicios_todos .servicios .art_completo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 75px;
}
#servicios_todos .servicios .art_completo .art_min {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
}
#servicios_todos .servicios .art_completo .art_min h4 {
  font-size: 35px;
  text-align: start;
  margin-bottom: 20px;
  color: #212121;
}
#servicios_todos .servicios .art_completo .art_min p {
  font-size: 20px;
  text-align: left;
  color: #212121;
}
#servicios_todos #button-services {
  text-align: center;
  background-color: transparent;
  border: 2px solid #212121;
  border-radius: 0px;
  color: #212121;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 1px;
  margin-top: 50px;
  margin-bottom: 50px;
  transition: all 300ms;
  padding: 10px;
}
#servicios_todos #button-services:hover {
  background-color: #045455;
  color: #fff;
  border-color: #045455;
}
#servicios_todos hr {
  color: #045455;
  width: 60%;
  height: 2px;
}

.article-nosotros {
  width: 100%;
  padding: 25px;
}
.article-nosotros #info-nosotros {
  width: 100%;
  min-height: 500px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.article-nosotros #info-nosotros p {
  padding: 25px;
  text-align: justify;
  font-size: 20px;
  border: 1.5px solid #CDBE78;
}
.article-nosotros #info-nosotros p .resaltado {
  font-weight: bold;
  color: #045455;
}
.article-nosotros #info-nosotros img {
  width: 80%;
  margin-bottom: 20px;
}

@media screen and (max-width: 320px) {
  .article-nosotros {
    padding: 10px;
  }
  .article-nosotros #info-nosotros p {
    font-size: 15px;
    padding: 10px;
  }
  .article-nosotros #info-nosotros img {
    width: 100%;
  }
  .article-nosotros .developer {
    width: 100%;
    height: 40px;
    background-color: #045455;
  }
  .article-nosotros .developer p {
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    line-height: 40px;
  }
}
@media screen and (max-width: 480px) {
  .article-nosotros {
    padding: 10px;
  }
  .article-nosotros #info-nosotros p {
    font-size: 20px;
    padding: 10px;
  }
  .article-nosotros #info-nosotros img {
    width: 100%;
  }

  #footer {
    width: 100%;
  }
  #footer #footer-container {
    width: 100%;
  }
  #footer #footer-container #info {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
  }
  #footer #footer-container #info p {
    margin-bottom: 0px;
    text-align: center;
  }
  #footer #footer-container #redes {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
  #footer #footer-container #redes p {
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
