@use './settings' as s;


$img-atardecer: url('./assets/imgs/edificio_atardecer.jpeg');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 1px;
}


hr{
    color: s.$color-h;
    width: 60%;
    height: 2px;
}

#article-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-image: $img-atardecer;
    background-position: center;
    background-size: cover;


    h2{
        color: white;
        text-shadow: s.$text-shadow;
        font-size: 50px; 
    }
}

#formulario{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0px;

    #form{
        min-height: 500px;
        width: 40%;
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
        
        margin-top: 20px;
        background-color: s.$color-7;
        box-shadow: 1px 1px 4px black;
        padding: 10px;
        gap: 20px;
        
        .labelForm{
            align-self: flex-start;
            color: #fff;
            font-size: 20px;
        }

        .inputForm{
            width: 90%;
            padding: 10px;

            &:hover {
                outline: black;
            }
        }
    
        #textArea{
            width: 90%;
            height: 100px;
            padding: 5px;

            &:hover {
                outline: none;
            }
        }

        button{
            color: #fff;
            background-color: transparent;
            border: 2px solid #fff;
            font-weight: 400;
            // font-family: 'Lucida Sans';
            // margin-top: px;
            letter-spacing: 1px;
            
            text-align: center;
            transition: all 300ms;
            padding: 10px;
        }
    
        button:hover{
            background-color: #fff;
            color: #34312f;
        }
    }
}

@media (max-width: 768px)  {

    #formulario {
        #form {
            width: 65%;
        }
    }


}

@media screen and (max-width: 480px) {

    #formulario {
        #form {
            width: 90%;
        }
    }
}

@media screen and (max-width: 320px){
    
    #article-3 {
        height: 150px;
        background-size: cover;

        h2{
            font-size: 30px;
            text-align: center;
        }
    } 
    
    #formulario {

        #form {
            width: 90%;
        }
    }
}




