@use './settings' as s;

.article-nosotros {

    width: 100%;
    padding: 25px;

    #info-nosotros {
        width: 100%;
        min-height: 500px;
        background-color: #fff;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;


        p {
            padding: 25px;
            text-align: justify;
            font-size: 20px;
            border: 1.5px solid s.$color-8;
    
            .resaltado {
                font-weight: bold;
                color: s.$color-7;
            }
        }
    
        img {
            width: 80%;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 1024px){
    
}

@media (min-width: 515px) and (max-width: 768px){

    #article-3{
        height: 200px;
        background-size: cover;
    }

    .article-nosotros{
        #info-nosotros {
            img{
                width: 100%;
            }            
        }
    }
}

@media (min-width: 481px) and (max-width: 514px) {

          
}

@media screen and (max-width: 480px){

    #article-3 {
        height: 150px;
        background-size: cover;

        h2 {
            font-size: 40px;
            text-align: center;
        }
    }

    .article-nosotros {
        padding: 10px;

        #info-nosotros {

            p {
                font-size: 20px;
                padding: 10px;
            }

            img {
                width: 100%;
            }

        }
    }

}

@media (max-width: 320px){

    #article-3 {
        height: 150px;
        background-size: cover;

        h2{
            font-size: 30px;
            text-align: center;
        }
    }

    .article-nosotros {

        padding: 10px;

        #info-nosotros {

            p {
                // font-size: 15px;
                padding: 10px;
            }

            img{
                width: 100%;
            }
        }
    }
}

