@use './settings' as s;

.article-nosotros {

    width: 100%;
    padding: 25px;

    #info-nosotros {
        width: 100%;
        min-height: 500px;
        background-color: #fff;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;


        p {
            padding: 25px;
            text-align: justify;
            font-size: 20px;
            border: 1.5px solid s.$color-8;
    
            .resaltado {
                font-weight: bold;
                color: s.$color-7;
            }
        }
    
        img {
            width: 80%;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 1024px){
    #footer {
        #footer-container {

            width: 100%;
            #info {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 20px 35px;
                
                p {
                    margin-bottom: 0px;
                    text-align: end;
                }
            }
            
            #redes {
                width: 100%;
                justify-content: space-between;
                margin: 0px 35px;
                margin-bottom: 15px;


                p {
                    text-align: end;
                }
            }
        }
    }
}

@media screen and (max-width: 768px){

    #article-3{
        height: 200px;
        background-size: cover;
    }

    .article-nosotros{
        #info-nosotros {
            img{
                width: 100%;
            }            
        }
    }

    #footer {
        #footer-container {

            width: 100%;
            #info {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 20px 35px;

                p {
                    margin-bottom: 0px;
                    text-align: end;
                }
            }

            #redes {
                width: 100%;
                justify-content: space-around;
                margin-bottom: 10px;


                p {
                    text-align: end;
                }
            }
        }
    }
}

@media screen and (max-width: 480px){

    #article-3 {
        height: 150px;
        background-size: cover;

        h2 {
            font-size: 40px;
            text-align: center;
        }
    }

    .article-nosotros {
        padding: 10px;

        #info-nosotros {

            p {
                font-size: 20px;
                padding: 10px;
            }

            img {
                width: 100%;
            }

        }
    }

    #footer{

        width: 100%;
        #footer-container {
            
            width: 100%;

            #info {
                width: 100%;
                flex-direction: row;
                justify-content: center;
                padding: 10px;

                p {
                   margin-bottom: 0px;
                   text-align: center; 
                }
            }

            #redes {
                width: 100%;
                flex-direction: column;
                justify-content: center;
                padding: 10px;

                p{
                    text-align: center;
                }
            }
        }
    }

}

@media screen and (max-width: 320px){

    #article-3 {
        height: 150px;
        background-size: cover;

        h2{
            font-size: 30px;
            text-align: center;
        }
    }

    .article-nosotros {

        padding: 10px;

        #info-nosotros {

            p {
                // font-size: 15px;
                padding: 10px;
            }

            img{
                width: 100%;
            }

        }


    }

    #footer {
        #footer-container {
            #redes{
                p {
                    font-size: 16px;
                }
            }
        }
    }

}

