//? *******************  VARIABLES ****************************************
$color-1: #420e0e;
$color-2: #041E42;
$color-3: #CBA052;
$color-4: #FFB5B5;
$color-5: #243956;

//? ********** PALETA PARA TONOS GRISES **********
$color-6: #212121;
$color-7: #045455;
$color-7-1: #034344;
$color-8: #CDBE78;

//? ********** LETRAS Y SOMBRAS *************
$letra-oscura: rgb(34, 32, 32);
$letra-clara: #fff;
$color-h: #96663D;
$text-shadow: 2px 2px 3px black;
$fuente-simbolo: 'WebSymbolsRegular';
$fuente-secundaria: 'calibri';

//? ************ MARGENES Y PADDINGS **********
$mt-1: 5px;  
$mt-2: 10px;
$mt-3: 15px;
$mt-4: 20px;

$mb-1: 5px; 
$mb-2: 10px;
$mb-3: 15px;
$mb-4: 22px;
